# Say "Hello, World!" With Python

In [1]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

# Python If-Else

In [3]:
n=int(input())
if (n%2==1):
    print('Weird')
elif n%2==0 and 2<=n<=5:
    print('Not Weird')
elif n%2==0 and 6<=n<=20:
    print('Weird')
elif n%2==0 and n>20:
    print('Not Weird')

3
Weird

# Arithmetic Operators

In [4]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)

5
6
11
-1
30

# Python: Division

In [5]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

5
3
1
1.6666666666666667

# Loops

In [6]:
n = int(input())
for i in range(0,n) :
    print(i**2)

5
0
1
4
9
16

# Write a function

In [7]:
def is_leap(year):
    leap = False

    # Write your logic here
    if year%4==0 and (year%100!=0 or year%400==000):
        leap=True
    else:
        leap=False

    return leap

In [8]:
print(is_leap(2025))

False

# Print Function

In [9]:
n =int(input())
for i in range(1,n+1):
    print(i,end='')

10
12345678910